@font-face {
  font-family: "Outfit";
  src: url(../fonts/outfit/static/Outfit-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Outfit";
  src: url(../fonts/outfit/static/Outfit-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Outfit";
  src: url(../fonts/outfit/static/Outfit-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "YoungSerif";
  src: url(../fonts/young-serif/YoungSerif-Regular.ttf);
  font-weight: 400;
}
:root {
  --white: hsl(0, 0%, 100%);
  --nutmeg: hsl(14, 45%, 36%);
  --darkRaspberry: hsl(332, 51%, 32%);
  --roseWhite: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --lightGrey: hsl(30, 18%, 87%);
  --wengeBrown: hsl(30, 10%, 34%);
  --darkCharcoal: hsl(24, 5%, 18%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: hsl(30, 10%, 34%);
  font-size: 16px;
  font-family: Outfit, sans-serif;
}

img {
  object-fit: cover;
}

ul {
  list-style: none;
}

hr {
  background-color: hsl(30, 18%, 87%);
  border: none;
  height: 1px;
  margin: 33px 0 25px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.attribution {
  padding: 20px 0;
  background-color: var(--lightPink);
}

.blockTitle {
  font-family: YoungSerif, sans-serif;
  font-weight: 400;
  color: var(--nutmeg);
  margin-bottom: 20px;
  font-size: 28px;
}

.blockList {
  padding-left: 8px;
}
.blockList li {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}
.blockList li:last-child {
  margin-bottom: 0;
}
.blockList li::before {
  content: "";
  display: block;
  margin-right: 28px;
  height: 4px;
  width: 4px;
  border-radius: 50%;
}
.blockList span span {
  font-weight: 700;
}

.recipe {
  background-color: var(--eggshell);
}

.recipe {
  padding: 130px 0;
}

.recipe__item {
  background-color: var(--white);
  max-width: 735px;
  border-radius: 23px;
  padding: 40px;
  margin: 0 auto;
}

.recipe__itemBody {
  background-color: var(--white);
}

.recipe__img {
  background-color: var(--white);
  overflow: hidden;
  padding-bottom: 30px;
}
.recipe__img img {
  border-radius: 12px;
  max-height: 300px;
}

.recipe__title {
  font-family: YoungSerif, sans-serif;
  color: var(--darkCharcoal);
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 40px;
}

.recipe__description {
  margin-bottom: 35px;
  line-height: 1.5;
}

.recipe__preparation {
  border-radius: 15px;
  background-color: var(--roseWhite);
  padding: 24px 28px 30px;
  margin-bottom: 27px;
}

.recipe__preparationTitle {
  color: var(--darkRaspberry);
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 600;
}

.recipe__preparationList li::before {
  background-color: var(--darkRaspberry);
}

.recipe__ingredientsList li::before {
  background-color: var(--nutmeg);
}

.recipe__instructionsList {
  counter-reset: num;
}
.recipe__instructionsList li {
  margin-bottom: 7px;
  align-items: flex-start;
  line-height: 1.5;
}
.recipe__instructionsList li::before {
  content: counter(num) ".";
  counter-increment: num;
  color: var(--nutmeg);
  font-weight: 700;
}

.recipe__nutritionDescription {
  margin-bottom: 15px;
}

.recipe__nutritionTable {
  width: 100%;
  border-collapse: collapse;
}
.recipe__nutritionTable tr:last-child td {
  border-bottom: none;
}
.recipe__nutritionTable td {
  border-bottom: 1px solid var(--lightGrey);
  padding: 13px 30px;
}
.recipe__nutritionTable td:last-child {
  color: var(--nutmeg);
  font-weight: 700;
  width: 53%;
}

.footer {
  background-color: var(--eggshell);
}

@media (max-width: 375px) {
  .recipe {
    padding: 0;
  }
  .recipe__item {
    border-radius: 0;
    padding: 0;
  }
  .recipe__itemBody {
    padding: 31px;
  }
  .recipe__img {
    padding-bottom: 0;
  }
  .recipe__img img {
    border-radius: 0;
  }
  .recipe__title {
    font-size: 36px;
  }
}
/*# sourceMappingURL=index.css.map */